@import '~bootstrap/scss/bootstrap';
@import '~emojionearea/dist/emojionearea.css';

html
{
    height:100%;
}

body
{
   min-height:100%;
   background-color:#F4F9FA;
   width: 100%;
   box-sizing: border-box;
}

//////////////////////////////////////////////////////////////////////////////////////////////
#chatLists{
    background-color: #6B6E94;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
}

#chatLists, #chatArea{
   height: 100%;
   padding: 0;
   width: 100%;
}

#chatLists{
   background-color: #6B6E94;
}

#chatArea{
   padding: 0 5px 0 5px;
}

.containerWrapper {
   padding: 0;
   height: 91vh;
}

#messageBody{
    margin: 0;
    padding: 0;
    height: 90%;
    overflow-y: scroll;
}

#enteredCommand{
    margin: 2px;
}

.container-fluid{
   padding: 0;
   text-align: center;
}

.containerWrapper {
   width: 100%;
   text-align: center;
   padding: 0;
   height: 80vh;
}

#enter{
   font-size: 0.8rem;
}


#container-root
{            
    padding:0px;
    margin:0px;
    height:100%;
}

.home-section
{
    padding: 64px 0px;
}

.home-section-inner
{
    margin: 0px 70px;
}

.home-section-header
{
    font-size: 4.8rem;
}

.dashboard
{
    background-color:#F4F9FA;
}

.team-link
{
    border: 1px solid #B5B8B9;
    border-radius: 5px;
    padding: .6rem 0 .6rem 1rem;
    margin-bottom: 1.2rem;
}

.team-link:hover
{
    background-color:#D7DADA;
    text-decoration: none;
}

.form-container
{
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    margin: 1rem -15px 0;
    border: 1px solid #E4E7E7;
    border-radius: 4px;
}

.avatar{
    border-radius: 50%;
    width: 80%;
}
//////////////////////////////////////////////////////////////////////////////////////////////

 .panBackground {
    background: wheat;
}

.panComponents {
    margin: 30px 70px 30px 70px;
}

.btn {
    margin: 10px;
}

#close {
    float: right;
    display:inline-block;
    padding:2px 5px;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    color:#fff;
}

.commandComment {
    width: 500px;
    height: 50px;
}


.playGroungDiv-bot{
    background: wheat;
    padding: 10px;
    margin: 2px;
    text-align: right;
    border-radius: 10px;
}
.playGroungDiv-you{
    background: rgb(232, 248, 140);
    padding: 10px;
    margin: 2px;
    text-align: left;
    border-radius: 10px;
}

.playGroungDiv-bot:hover{
    background: rgb(175, 175, 175);
}

.playGroungDiv-you:hover{
    background: rgb(175, 175, 175);
}

#todolistModalBody .fa {
    font-size: 24px;
    cursor: pointer;
}

.reminderRow {
    ul, li {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        padding: 0 16px;
    }
}
 legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

$padding-base: 15px;
$color-body: #fff;
$color-border: #ddd;
$color-link: #0275d8;
$border-radius: .25rem;

.nav-tabs {
	&--vertical {
		border-bottom: none;
		border-right: 1px solid $color-border;
		display: flex;
		flex-flow: column nowrap;
	}
	
	&--left {
		margin: 0 $padding-base;
		
		.nav-item + .nav-item {
			margin-top: .25rem;
		}
		
		.nav-link {
			transition: border-color .125s ease-in;
			white-space: nowrap;
			
			&:hover {
				background-color: lighten($color-border, 10%);
				border-color: transparent;
			}
		}
		
		.nav-link.active {
			border-bottom-color: $color-border;
			border-right-color: $color-body;
			border-bottom-left-radius: $border-radius;
			border-top-right-radius: 0;
			margin-right: -1px;
			
			&:hover {
				background-color: $color-body;
				border-color: $color-link $color-body $color-link $color-link;
			}
		}
	}
}

#myModal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

label {
    display: inline-block;
    text-align: right;
    width: 20%;
}

.emojionearea .emojionearea-editor {
    min-height: 36px;
    max-height: 36px;
    padding-top: 8px;
}